.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #bff0c8;
    color: #000000;
    flex-direction: row;
}

.navbar ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    color: #000000;
    text-decoration: none;
}