.cards {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;


    color: rgb(0, 0, 0);

    background: rgba(255, 255, 255, 0.1);



}


.swiperslide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;


}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 50%;
    height: 100%;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #ffffff;
    box-shadow: 0 8px 32px #997f7f;

}

.card:hover {
    background-color: #5A3E36;
    color: #ffffff;
    backdrop-filter: blur(12px);
    opacity: 0.8;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 255, 0.2);
}

.img {
    width: 200px;
    height: 150px;
    border-radius: 30%;
    padding: 20px;
}



.card-btn {
    width: 100px;
    height: 30px;
    background-color: transparent;
    color: #000000;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 50px;
}

.card-btn:hover {
    background-color: #98b516;
    color: #ffffff;
}

.swiper-pagination {
    color: #000000;
}

.swiper-pagination-bullet-active {
    margin-top: 50px;
    background-color: #5A3E36;
}

.swiper-button-next,
.swiper-button-prev {
    color: #5A3E36;

}

.swiper-button-prev {
    margin-left: 10px;
}

.swiper-button-next {
    margin-right: 10px;
}
